<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-mm-dd HH:mm:ss} %-5level %class{36}.%M:%L - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-OAUTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/personas-oauth.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-mm-dd HH:mm:ss}|%msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/logs/personas-oauth.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    
    <logger name="org.apz.curso" level="info" >
        <appender-ref ref="FILE-OAUTH" />
    </logger>
    
    <root level="info">
        <appender-ref ref="FILE-OAUTH" />
        <appender-ref ref="Console" />
    </root>

</configuration>